:root {
    --white: #efefef;
    --white-alpha: rgba(239, 239, 239, .64);
    --grey: #d6d6d6;
    --gray: var(--grey);
    --black: #292f36;
    --pure-black: #131313;
    --pure-black-alpha: rgba(19, 19, 19, .64);
    --pure-black-alpha-light: rgba(19, 19, 19, .24);
    --pure-black-alpha-transparent: rgba(19, 19, 19, .12);
    --primary: #de8737;
    --primary-dk: #d55b3a;
    --accent: #fffddd;
    --accent-dk: #ffffff;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
body {
    padding-top: 50px;
}

button {
    border: 0;
    padding: 1rem;
    width: 80px;
    height: 80px;
    background-color: var(--black);
    font-size: 1.25rem;
    color: var(--accent);
    outline: none;
    &:hover {
        color: var(--accent-dk);
    }
    &.block {
        width: 100%;
    }
    &.transparent {
        background-color: transparent;
    }
    &.no-padding {
        padding: 0;
    }
    &.long-text { font-size: 1rem; }
}
.sk-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 19px 38px var(--pure-black-alpha-light), 0 15px 12px var(--pure-black-alpha-transparent);
}

.content{
    &::-webkit-scrollbar { width: .5rem; }
    &::-webkit-scrollbar:horizontal { height: .5rem; }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar:horizontal {
        background-color: var(--pure-black);
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar:horizontal {
        background-color: var(--primary);
    }
    &:hover {
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar:horizontal {
            background-color: var(--primary-dk);
        }
    }
}

.content {
    width: 320px;
    height: 80px;
    box-shadow: 0 4px 2px -2px var(--pure-black-alpha);
    padding: .5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: var(--pure-black-alpha);
    font-size: 2rem;
    line-height: 2;
    color: var(--primary);
    text-align: right;
    direction: ltr;
    outline: none;
}

.button-set {

    &--presets,
    &--functions,
    &--equations {
        background-color: var(--black);
        button {
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            font-variant: small-caps;
            color: var(--primary);
            &:hover {
                color: var(--primary-dk);
            }
        }
    },
    &--numbers {
        width: 240px;
        float: left;
        background-color: var(--black);
        button {
            display: block;
            float: left;
            background-color: var(--black);
            &:last-child {
                width: 100%;
            }
        }
    },
    &--functions {
        clear: left;
        float: left;
        width: 240px;
    }
}